*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(135deg,#07111f,#0d2745,#163d6b);
    color:#fff;
    overflow-x:hidden;
}

/* Animated stars */

.stars{
    position:fixed;
    inset:0;
    background-image:
    radial-gradient(white 1px,transparent 1px),
    radial-gradient(white 1px,transparent 1px);
    background-size:120px 120px;
    background-position:0 0,60px 60px;
    animation:moveStars 70s linear infinite;
    opacity:.35;
    z-index:-2;
}

@keyframes moveStars{

from{
transform:translateY(0);
}

to{
transform:translateY(-500px);
}

}

.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.glass{

    width:min(850px,95%);
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(20px);
    border:1px solid rgba(255,255,255,.15);
    border-radius:30px;
    padding:60px;
    text-align:center;
    box-shadow:0 20px 60px rgba(0,0,0,.45);

}

.emoji{
    font-size:70px;
}

h1{

font-size:70px;
margin:20px 0;
color:#ffd3e0;
text-shadow:0 0 25px #ff8db5;

}

.hero p{

font-size:22px;
line-height:1.8;
margin-bottom:40px;

}

button{

background:#ff4f8f;
color:white;
border:none;
padding:18px 45px;
font-size:20px;
border-radius:50px;
cursor:pointer;
transition:.3s;

}

button:hover{

transform:scale(1.08);
box-shadow:0 0 30px #ff4f8f;

}

.memory{

width:min(900px,92%);
margin:100px auto;
background:rgba(255,255,255,.06);
backdrop-filter:blur(18px);
padding:45px;
border-radius:25px;
box-shadow:0 15px 40px rgba(0,0,0,.35);

opacity:0;
transform:translateY(60px);

transition:1s;

}

.memory.show{

opacity:1;
transform:translateY(0);

}

.memory h2{

font-size:42px;
margin-bottom:25px;
color:#ffd3e0;
text-shadow:0 0 15px #ff8db5;

}

.memory p{

font-size:20px;
line-height:2;
color:#ececec;

}

footer{

text-align:center;
padding:80px 20px;
font-size:18px;
color:#bbb;

}
